.SearchBox {
    width: 540px;
    height: 70px;
    background-color: #fafafa;

}

.navBox {
    width: 300px;
    height: 920px;
    border-radius: 15px;
    background-color: #FAFAFA;
    position: sticky;
    padding: 48px 30px 0 30px;
    top: 4%;
}

.bannerBox {
    margin-top: 109px;
    margin-left: 42px;
    width: 1006px;
    height: 300px;
    border-radius: 15px;
    background-color: #fafafa;

}

.game_container {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin-left: 42px;
}

.gamebox {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: black;
}

.bannerBox {
    margin-top: 109px;
    margin-left: 42px;
    width: 1006px;
    height: 300px;
    border-radius: 15px;
    background-color: #fafafa;

}

.gameScreen {
    width: 1006px;
    height: 624px;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin-left: 42px;
    margin-top: 52px;
}


.rankingScreen{
    width: 1006px;
    height: 920px;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin-left: 42px;
    padding: 26px;
}
.description {
    width: 1006px;
    height: 200px;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin-left: 42px;
    margin-top: 52px;
}

.list_box {
    margin-bottom: 48px;
}

.ranking_text {
    font-size: 26px;
    margin-left: 24px;
}

.profile_text {
    font-size: 26px;
    margin-left: 66px;
}

.nickname_text {
    font-size: 26px;
    margin-left: 92px;
}

.message_text {
    font-size: 26px;
    margin-left: 200px;
}
