.category span {
    font-size: 24px;
    margin-right: 6px;
}

.informationBox {
    min-height: 780px;
    border: 2px solid #B1C9F1;
    border-radius: 30px;
    margin-top: 16px;
    position: relative;
    padding: 26px;
}

.category span {
    color: gray;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s;
}

.category .selected {
    color: #B1C9F1;
}

.list_box{
    margin-bottom: 68px;
}


.ranking_text{
    font-size: 26px;
    position: absolute;
    left: 50px;
}
.profile_text{
    font-size: 26px;
    position: absolute;
    left: 158px;
}
.nickname_text{
    font-size: 26px;
    position: absolute;
    left: 320px;
}
.message_text{
    font-size: 26px;
    position: absolute;
    right: 250px;
}


.game_name{
    font-size: 26px;
    position: absolute;
    left: 240px;
}

.game_view{
    font-size: 26px;
    position: absolute;
    right: 228px;
}

.major_text{
    font-size: 26px;
    position: absolute;
    left: 340px;
}
