.category span {
    font-size: 24px;
    margin-right: 6px;
}

.informationBox {
    min-height: 456px;
    border: 2px solid #B1C9F1;
    border-radius: 30px;
    margin-top: 16px;
    padding: 20px;
}

.category span {
    color: gray;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s;
}

.category .selected {
    color: #B1C9F1;
}