.gameRankingBox{
    position: relative;
    margin-bottom: 66px;
    display: flex;
    align-items: center;
}

.game_num{
    position: absolute;
    font-size: 26px;
    left: 40px;
}
.game_name{
    position: absolute;
    font-size: 26px;
    left: 220px;
}

.game_view{
    position: absolute;
    font-size: 26px;
    right: 220px;
}
