
.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 200px;
    border-radius: 15px;

}

.profileSize {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.textContainer{
    margin-left: 34px;
}
.nickName{
    font-size: 24px;
    margin-bottom: 8px;
}

