.wrapper {
    position: relative;
}

.recordBoxPosition {
    position: absolute;
    top: 390px;
    left: 480px;
    width: 526px;
    text-align: center;
}

.informationPosition{
    position: absolute;
    width: 300px;
    height: 200px;
    text-align: center;
    top: 600px;
    left: 120px;
    line-height: 60px;
}