.game_position{
    margin-left: 42px;
    width: 1006px;
}
.nav_container {
    z-index: 9999;
}
.commentBox{
    width: 1006px;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding-top: 5px;
}

.topBox{
    width: 1006px;
    height: 500px;
    background-color: #FAFAFA;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}