.modal_overlay {
    width: 1006px;
    height: 670px;
    margin-left: 42px;
    border-radius: 15px;
    background-color: #FAFAFA;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login_form {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

.login_input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login_button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login_button:hover {
    background-color: #0056b3;
}
