.nav_container {
    z-index: 9999;
}

.searchBox_position {
    left: 336px;
    position: relative;
    z-index: 1;

}

.banner_position {
    margin-top: 109px;
    margin-left: 42px;
    position: relative;
    z-index: 2;

}

.game_container {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
    position: relative;
    z-index: 3;

}