.profileBox{
    width: 1006px;
    height: 670px;
    margin-left: 42px;
    border-radius: 15px;
    background-color: #FAFAFA;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
