.contain_position{
    margin-left: 42px;
}
.nav_container {
    z-index: 9999;
}
.ranking_box{
    width: 1006px;
    min-height: 920px;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 50px 0 0 67px;
}