.signup_form {
    width: 1006px;
    height: 670px;
    margin-left: 42px;
    border-radius: 15px;
    background-color: #FAFAFA;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nav_container {
    z-index: 9999;
}

.form_group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 400px;
    height: 54px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 4px;
}

.email_input_wrapper {
    position: relative;
}

.email_input_wrapper button {
    position: absolute;
    width: 126px;
    height: 42px;
    right: 6px;
    bottom: 6px;
}

.submit_btn {
    background-color: #E7EDF7;
    border: none;
    color: #000;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit_btn:hover {
    background-color: #ccc;
}