.signup_form {
    width: 1006px;
    height: 670px;
    margin-left: 42px;
    border-radius: 15px;
    background-color: #FAFAFA;
    margin-top: auto;
    margin-bottom: auto;

}

.form_group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 4px;
}

.submit_btn {
    background-color: #E7EDF7;
    border: none;
    color: #000;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit_btn:hover {
    background-color: #ccc;
}
