* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7EDF7;

}

.app_container {
    display: flex;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E7EDF7;
    padding: 52px 40px 52px 36px;
}